<footer>
    <p>© Todos los derechos reservados <a href="https://sanvidev.com">SanviDev</a></p>
</footer>
<style>
    footer {
        text-align: center;
        color: #888;
        margin-top: 4rem;
    }
    a {
        color: #777;
    }
    @media (width<750px) {
        footer {
            margin-top: 7rem;
            padding-bottom: 1rem;
        }
    }
</style>
