<section id="principalHome">
    <div class="img-profile">
        <img src="/images/porfile.jpg" alt="Mi foto de perfil" />
    </div>
    <h2>
        Santiago Carrasco <br /><span id="rol">Desarrollador Full-Stack</span>
    </h2>
    <p>
        Programador especializado en desarrollo web y de aplicaciones android <br
        />
        con 3 años de experiencia en diversos proyectos.
    </p>
    <div class="skills">
        <div class="skill">
            <i class="fa-solid fa-globe"></i>
            Desarrollo Web
        </div>
        <div class="skill">
            <i class="fa-solid fa-mobile"></i>
            Desarrollo Mobile
        </div>
    </div>
    <div class="actions">
        <div class="contact-me action-button">
            <a href="">Contactame</a>
        </div>
        <div class="github action-button">
            <a href="https://github.com/SanviDev/" target="_blank"
                ><i class="fa-brands fa-github"></i></a
            >
        </div>
        <div class="linkedin action-button">
            <a
                href="https://www.linkedin.com/in/santiago-carrasco-1976112b7/"
                target="_blank"><i class="fa-brands fa-linkedin-in"></i></a
            >
        </div>
    </div>
</section>
<style>
    #principalHome {
        margin-top: 5rem;
        min-height: 99vh;
    }
    .img-profile {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8rem;
        width: 8rem;
        overflow: hidden;
        border-radius: 50%;
    }
    .img-profile img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h2,
    p {
        text-align: center;
    }
    h2 {
        font-size: 3rem;
        color: #fafafa;
    }
    span {
        color: #33ccff;
    }
    p {
        font-size: 1.5rem;
        color: #9d9d9d;
    }
    .skills {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
    .skill {
        border: 1px solid #fafafa;
        padding: 0.5rem;
        border-radius: 10px 5px 10px;
        color: #dadada;
    }
    .actions {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        margin-top: 3rem;
    }
    .action-button {
        border: 1px solid #dadada;
        padding: 1rem;
        border-radius: 30px;
        text-align: center;
        width: 30px;
        transition: 250ms;
    }
    .action-button:hover {
        background-color: #1b4654   ;
    }
    a {
        color: #fafafa;
        text-decoration: none;
        height: 100%;
        width: 100%;
    }
    .contact-me {
        width: 8rem;
        border: none;
        background-color: #1b4654;
    }
    .contact-me:hover {
        background-color: #296477;
    }
</style>
