<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script
			src="https://kit.fontawesome.com/4aa5d98126.js"
			crossorigin="anonymous"></script>
		<meta
			name="description"
			content="Programador full-stack con experiencia en desarrollo web y aplicaciones Android. Desde Uruguay, disponible para proyectos remotos en todo el mundo."
		/>
		<meta name="generator" content={Astro.generator} />
		<title>SanviDev</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
	html,
	body {
		font-family: "Open Sans", sans-serif;
		background-color: #232323;
		margin: 0;
		width: 100%;
		height: 100%;
		color: #fafafa;
		scroll-behavior: smooth;
	}
</style>
